<a href="https://colab.research.google.com/github/eng-WALID94/Data-Analysis-with-Python/blob/Main/Ex1%20-%20Filtering%20and%20Sorting%20Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')

### Step 4. How many products cost more than $10.00?

In [ ]:

chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))

num_expensive_products = chipo[chipo['item_price'] > 10.00].shape[0]
print(f"The number of products that cost more than $10.00 is: {num_expensive_products}")

The number of products that cost more than $10.00 is: 1130

### Step 5. What is the price of each item?
###### print a data frame with only two columns item_name and item_price

In [ ]:
item_prices = chipo[['item_name', 'item_price']].drop_duplicates()
print(item_prices)

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4237                    Chips and Guacamole        8.50
4354                       Steak Soft Tacos       18.50
4489                    Chips and Guacamole       17.80
4509                                  Chips        1.99
4510                          Barbacoa Bowl       11.49

[209 rows x 2 columns]

### Step 6. Sort by the name of the item

In [ ]:
sorted_items = chipo.sort_values(by='item_name')
print(sorted_items)

      order_id  quantity          item_name  \
3389      1360         2  6 Pack Soft Drink
341        148         1  6 Pack Soft Drink
1849       749         1  6 Pack Soft Drink
1860       754         1  6 Pack Soft Drink
2713      1076         1  6 Pack Soft Drink
...        ...       ...                ...
2384       948         1  Veggie Soft Tacos
781        322         1  Veggie Soft Tacos
2851      1132         1  Veggie Soft Tacos
1699       688         1  Veggie Soft Tacos
1395       567         1  Veggie Soft Tacos

                                     choice_description  item_price
3389                                        [Diet Coke]       12.98
341                                         [Diet Coke]        6.49
1849                                             [Coke]        6.49
1860                                        [Diet Coke]        6.49
2713                                             [Coke]        6.49
...                                                 ...         ...
2384  [Roasted Chili Corn Salsa, [Fajita Vegetables,...        8.75
781   [Fresh Tomato Salsa, [Black Beans, Cheese, Sou...        8.75
2851  [Roasted Chili Corn Salsa (Medium), [Black Bea...        8.49
1699  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
1395  [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...        8.49

[4622 rows x 5 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [ ]:
most_expensive_item = chipo.loc[chipo['item_price'].idxmax()]
quantity_most_expensive = most_expensive_item['quantity']
print(f"The quantity of the most expensive item ordered is: {quantity_most_expensive}")

The quantity of the most expensive item ordered is: 15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [ ]:
veggie_salad_bowl_orders = chipo[chipo['item_name'] == 'Veggie Salad Bowl'].shape[0]
print(f"The number of times a Veggie Salad Bowl was ordered is: {veggie_salad_bowl_orders}")

The number of times a Veggie Salad Bowl was ordered is: 18

### Step 9. How many times did someone order more than one Canned Soda?

In [ ]:
multiple_canned_soda_orders = chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)].shape[0]
print(f"The number of times someone ordered more than one Canned Soda is: {multiple_canned_soda_orders}")

The number of times someone ordered more than one Canned Soda is: 20