<a href="https://colab.research.google.com/github/eng-WALID94/Data-Analysis-with-Python/blob/Main/Ex2%20-%20Apply%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [ ]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv'
df = pd.read_csv(url)

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [ ]:
df_slice = df.loc[:, 'school':'guardian']
print(df_slice.head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher
1     GP   F   17       U     GT3       T     1     1  at_home     other
2     GP   F   15       U     LE3       T     1     1  at_home     other
3     GP   F   15       U     GT3       T     4     2   health  services
4     GP   F   16       U     GT3       T     3     3    other     other

   reason guardian
0  course   mother
1  course   father
2   other   mother
3    home   mother
4    home   father

### Step 5. Create a lambda function that will capitalize strings.

In [ ]:
capitalize_str = lambda x: x.capitalize()

### Step 6. Capitalize both Mjob and Fjob

In [ ]:
df['Mjob'] = df['Mjob'].apply(capitalize_str)
df['Fjob'] = df['Fjob'].apply(capitalize_str)
print(df[['Mjob', 'Fjob']].head())

      Mjob      Fjob
0  At_home   Teacher
1  At_home     Other
2  At_home     Other
3   Health  Services
4    Other     Other

### Step 7. Print the last elements of the data set.

In [ ]:
print(df.tail())

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
390     MS   M   20       U     LE3       A     2     2  Services  Services
391     MS   M   17       U     LE3       T     3     1  Services  Services
392     MS   M   21       R     GT3       T     1     1     Other     Other
393     MS   M   18       R     LE3       T     3     2  Services     Other
394     MS   M   19       U     LE3       T     1     1     Other   At_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[5 rows x 33 columns]

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [ ]:
df['Mjob'] = df['Mjob'].apply(capitalize_str)
df['Fjob'] = df['Fjob'].apply(capitalize_str)
print(df[['Mjob', 'Fjob']].head())

      Mjob      Fjob
0  At_home   Teacher
1  At_home     Other
2  At_home     Other
3   Health  Services
4    Other     Other

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [ ]:
def majority(age):
    return age > 17
df['leagal_drinker'] = df['age'].apply(majority)
print(df[['age', 'leagal_drinker']].head())

   age  leagal_drinker
0   18            True
1   17           False
2   15           False
3   15           False
4   16           False

### Step 10. Multiply every number of the dataset by 10.
##### I know this makes no sense, don't forget it is just an exercise

In [ ]:
numeric_column = df.select_dtypes(include=['int64', 'float64']).columns
df[numeric_column] = df[numeric_column].apply(lambda x: x * 10)
print(df.head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F  180       U     GT3       A    40    40  At_home   Teacher  ...
1     GP   F  170       U     GT3       T    10    10  At_home     Other  ...
2     GP   F  150       U     LE3       T    10    10  At_home     Other  ...
3     GP   F  150       U     GT3       T    40    20   Health  Services  ...
4     GP   F  160       U     GT3       T    30    30    Other     Other  ...

  freetime goout  Dalc  Walc  health absences   G1   G2   G3 leagal_drinker
0       30    40    10    10      30       60   50   60   60           True
1       30    30    10    10      30       40   50   50   60          False
2       30    20    20    30      30      100   70   80  100          False
3       20    20    10    10      50       20  150  140  150          False
4       30    20    10    20      50       40   60  100  100          False

[5 rows x 34 columns]