<a href="https://colab.research.google.com/github/eng-WALID94/Data-Analysis-with-Python/blob/Main/Ex3%20-%20Merge%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows:
1. The first a random number from 1 to 4
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [ ]:
np.random.seed(0)
se1 = pd.Series(np.random.randint(1,5, size=100))
se2 = pd.Series(np.random.randint(1,4, size=100))
se3 = pd.Series(np.random.randint(10000,30000, size=100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [ ]:
housing = pd.DataFrame({'bedrs': se1, 'bathrs': se2, 'price_sqr_meter': se3})

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [ ]:
bigcolumn = pd.concat([se1, se2, se3], axis=0).reset_index(drop=True)
bigcolumn = bigcolumn.to_frame(name='bigcolumn')

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [ ]:
print(bigcolumn.index)

RangeIndex(start=0, stop=300, step=1)

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [ ]:
bigcolumn.reset_index(drop=True, inplace=True)
print(bigcolumn)

     bigcolumn
0            1
1            4
2            2
3            1
4            4
..         ...
295      28161
296      29745
297      18338
298      24676
299      12562

[300 rows x 1 columns]