<a href="https://colab.research.google.com/github/eng-WALID94/Data-Analysis-with-Python/blob/main/Getting%20and%20Knowing%20your%20Data%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')

### Step 4. See the first 10 entries

In [ ]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [ ]:
# Solution 1
obs_num = df.shape[0]
print(f"Number of observations: {obs_num}")

Number of observations: 4622

In [ ]:
# Solution 2
obs_num2 = len(df)
print(f"Number of observations: {obs_num2}")

Number of observations: 4622

### Step 6. What is the number of columns in the dataset?

In [ ]:
col_num = df.shape[1]
print(f"Number of columns: {col_num}")

Number of columns: 5

### Step 7. Print the name of all the columns.

In [ ]:
print(df.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [ ]:
print(df.index)

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [ ]:
most_order = df.groupby('item_name')['quantity'].sum().sort_values(ascending=False).index[0]
print(most_order)

Chicken Bowl

### Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
item_quan = df.groupby('item_name')['quantity'].sum().sort_values(ascending=False).iloc[0]
print(f'{most_order} quantity is {item_quan}')

Chicken Bowl quantity is 761

### Step 11. What was the most ordered item in the choice_description column?

In [ ]:
most_order_choice = df.groupby('choice_description')['quantity'].sum().sort_values(ascending=False).index[0]
print(most_order_choice)

[Diet Coke]

### Step 12. How many items were orderd in total?

In [ ]:
total_order_item = df['quantity'].sum()
print(total_order_item)

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [ ]:
df['item_price'] = df['item_price'].str.replace('$', '').astype(float)
df['item_price'].dtype

dtype('float64')

#### Step 13.b. Create a lambda function and change the type of item price

In [ ]:
df['item_price'] = df['item_price'].apply(lambda x: x)
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

#### Step 13.c. Check the item price type

In [ ]:
df['item_price'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [ ]:
df['item_price'] = df['quantity'] * df['item_price']
tot_revenue = df['item_price'].sum()
print(f"The total revenue for the period in the dataset is: {tot_revenue.round(1)}$")

The total revenue for the period in the dataset is: 2612987.0$

### Step 15. How many orders were made in the period?

In [ ]:
oreder_revenue = df['order_id'].nunique()
print(f"The total number of orders made during the period is: {oreder_revenue}")

The total number of orders made during the period is: 1834

### Step 16. What is the average revenue amount per order?

In [ ]:
# Solution 1
total_revenue = df['item_price'].sum()
oreder_revenue = df['order_id'].nunique()
average_revenue_per_order = total_revenue / oreder_revenue
print(f"The average revenue per order is: {average_revenue_per_order:.2f}$")

The average revenue per order is: 1424.75$

In [ ]:
# Solution 2
ordered_revenue = df.groupby('order_id')['item_price'].sum()
average_revenue_per_order = ordered_revenue.mean()
print(f"The average revenue per order is: {average_revenue_per_order:.2f}$")

The average revenue per order is: 1424.75$

### Step 17. How many different items are sold?

In [ ]:
unique_items = df['item_name'].nunique()
print(f"The number of different items sold is: {unique_items}")

The number of different items sold is: 50